<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /fisiofit/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /fisiofit/index.php [L]
</IfModule>
